p{
    color: #000;
    font-size: large;
}


div.chrishigh{
    background-color: darkgrey;
    padding: 30px;
    border-radius: 10px;
    border: 3px solid;
}

.chriscallmebg{
    background-image: url("../assets/img/bgph.jpg");
    background-size: cover ;
    background-repeat: no-repeat;
}

.chrisbg1{
    background-image: url("../assets/img/BG1.jpg");
    background-size: cover ;
    background-repeat: no-repeat;
}

.cc{
    color: aliceblue;
}

.chrisuni{
    color: gainsboro;
}

.goTop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  .goTopBtn {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
  
.listwrd{
    font-weight: bold;
    color: #4b4b4b;
}

.alllistwrd{
    color: #000;
}

.chrisbackg{
    background-color:#e2e2e2
}